<!DOCTYPE html>
<html lang="en" ng-app="ListApp">
    <head>
        <meta charset="UTF-8">
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>List App</title>
        <script src="bower_components/angular/angular.js"></script>
        <link rel="stylesheet" href="css/list.css">
        <script src="js/list.js"></script>

        <!-- Bootstrap -->
        <link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">


    </head>

    <body ng-controller="ListController as ctrl">

        <div class="container">

            <h1>todos</h1>

            <form class="form-inline">
                <div class="form-group">
                    <!--<label for="item">Item</label>-->
                    <input type="text" class="form-control" id="item" placeholder="What needs to be done ?" ng-model="ctrl.item">
                </div>

                <button ng-disabled="!ctrl.item" type="submit" class="btn btn-primary" ng-click="ctrl.addToList()">Add to List</button>
            </form>

            <table class="table">

                <tbody>
                    <tr ng-repeat="i in ctrl.todoList">
                        <td>{{ $index + 1 }}</td>
                        <td>{{ i.item }}</td>
                        <td>{{ i.quantity }}</td>
                        <td>
                            <button class="btn-primary btn-xs"type="button" ng-click="ctrl.removeFromCart($index)">Remove</button>
                        </td>
                    </tr>
                </tbody>
            </table>




        </div>

          <!--




          <div ng-show="list.length">
            &lt;!&ndash;<h2>Items in your cart</h2>&ndash;&gt;

            <table class="table table-striped">
              &lt;!&ndash;<thead class="thead-inverse">
                  <tr>
                      <th>#</th>
                      <th>Item</th>
                      <th>Quantity</th>
                  </tr>
              </thead>&ndash;&gt;
              <tbody>
              <tr ng-repeat="i in list.todoList">
                &lt;!&ndash;<td>{{ $index + 1 }}</td>&ndash;&gt;
                <td>{{ i.item }}</td>
                &lt;!&ndash;<td>{{ i.quantity }}</td>&ndash;&gt;
                &lt;!&ndash;<td>
                    <button class="btn-primary btn-xs"type="button" ng-click="ctrl.removeFromCart($index)">Remove</button>
                </td>&ndash;&gt;
              </tr>
              </tbody>
            </table>
          </div>
        </div>-->

    <!--<h1>Items</h1>
    <div class="row">
      <span> Name: </span>
      <input type="text" placeholder="Name of your item" size="30" ng-model="ctrl.item">
    </div>

    <div class="row">
      <span> Quantity: </span>
      <input type="number" placeholder="Quantity" ng-model="ctrl.quantity" min="1">
    </div>
    <div class="row">
      <span></span>
      <button ng-disabled="!ctrl.item" ng-click="ctrl.addToCart()">
        Add to Cart
      </button>
    </div>
    <div ng-show="ctrl.cart.length">
      <h2>Items in your cart</h2>
      <ul>
        <li ng-repeat="i in ctrl.cart">
          {{ i.item }} ({{ i.quantity }})
        </li>
      </ul>
    </div>-->
    </body>
</html>